nnoremap <SPACE> <Nop>
let mapleader = " "

""" NERDTree

set NERDTreDTreeMapQuit
map <leader>e :NERDTree<CR>

"""

""" Easy Motion

Plug 'easymotion/vim-easymotion'
map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

"""

""" Windows/Tabs

nnoremap <leader>\ :action SplitVertically<CR>

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <s-l> :action NextTab<CR>
nnoremap <s-h> :action PreviousTab<CR>

nnoremap <c-h> <c-w>h
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l

"""
