#!/usr/bin/env bash

# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias ll="ls -la"
# Enable aliases to be sudo’ed
alias sudo='sudo '
alias reload='exec ${SHELL} -l'

alias g="git"
alias t="tmux a -t"
alias k='kubectl'
alias n="nvim"
