#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
        mkdir -p "$@" && cd "$_"
}

function push_config() {
        scp -r ~/.config/nvim/ $1:~/.config/
}

function l_cl() {
        rm -v ./*.aux
        rm -v ./*.fdb_latexmk
        rm -v ./*.fls
        rm -v ./*.log
        rm -v ./*.synctex.gz
        rm -v ./*.out
        rm -v ./*.toc
        rm -v ./.DS_Store
}

# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
        function diff() {
                git diff --no-index --color-words "$@"
        }
fi

# Merge PDF files, preserving hyperlinks
# Usage: `mergeP output.pdf <input files>`
function mergeP() {
        gs -q -dNOPAUSE -dBATCH -q -sDEVICE=pdfwrite -sOutputFile=$1 "${@:2}"
}
